.about {
   padding-top: 30px;
   padding-bottom: 32px;

   @include breakpoint(medium) {
      padding-bottom: 62px;
   }

   @include breakpoint(large) {
      padding-top: 70px;
   }
      
   &__container {
      max-width: 670px;
      margin-right: auto;
      margin-left: auto;

      @include breakpoint(large) {
         max-width: 1170px;
      }
   }

   &__box-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
   }

   &__title {
      width: 80%;
      margin-bottom: 8px;
      z-index: 1;

      @include breakpoint(medium) {
         padding-top: 19px;
         width: 100%;
      }
   }

   &__subtitle {
      width: 80%;
      letter-spacing: 0.1px;

      @include breakpoint(medium) {
         width: 100%;
         margin-top: - 44px;
      }

      @include breakpoint(large) {
         width: 100%;
         margin-top: - 80px;
      }
   }

   &__aside-element {
      margin-top: 29px;
      font-family: $font-family;
      position: absolute;
      border-bottom: 2px solid black;
      width: 100px;
      left:-55px;
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
      display: flex;
      font-size: 18px;
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      z-index: 10;

      @include breakpoint(medium) {
         left:-95px;
         margin-top: 133px;
      }
      @media (min-width:970px){
         left:-154px;
         margin-top: 133px;
      }

      @include breakpoint(large) {
         left: -53px;
         margin-top: 133px;
      }

      span {
         padding-top: 15px;
         padding-bottom: 8px;
      }
   }

   &__box-one-img {
      margin-top: -51px;
      background-image: url(~img/about-small.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 269px;

      @include breakpoint(medium) {
         width: 470px;
         height: 488px;
         background-image: url(~img/about-med.jpg);
      }

      @include breakpoint(large) {
         width: 470px;
         height: 560px;
      }
   }

   &__box-img {
      margin-bottom: 25px;
   }

   &__text-bold {
      margin-bottom: 5px;
      @include breakpoint(medium) {
      margin-bottom: 14px;
      }
   }

   &__text-normal {
      margin-bottom: 25px;

      @include breakpoint(large) {
         margin-bottom: 0px;
      }
   }

   &__box-one {
      @include breakpoint(medium) {
         display: flex;
         justify-content: space-between;
         padding-top: 83px;
         margin-bottom: 32px;
      }
   }

   &__box-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      @include breakpoint(medium) {
         width: 50%;
         z-index: 1;
      }

      @include breakpoint(large) {
         margin-left: 97px;
         z-index: 1;
      }
   }

   &__box-img {
      margin-bottom: 25px;

      @include breakpoint(medium) {
         margin-left: -140px;
         margin-bottom: 0px;
      }

      @include breakpoint(medium) {
         margin-left: -153px;
      }
   }

   &__btn {
      @include breakpoint(medium) {
         width: 17.8%;
      }

      @include breakpoint(large) {
         position: relative;
         top:200px;
         width: 50%;
      }
   }

   &__btn:hover{
      background-color:black;
      color:white;
   }

   &__tile {
      position: relative;
      @include breakpoint(large) {
         display: flex;
      }
   }

   &__box-two {
      @include breakpoint(large) {
         padding-top: 107px;
         padding-left: 50px;
         padding-right: 30px;         
      }
   }

   &__text-normal-unshow {
      display: none;

      @include breakpoint(large) {
         display: block;
         padding-top: 0px;
      }
   }
}



 

