.banner{
   background-image:url("~img/curse-small.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width:100%;
   height: 360px;
   padding-top:28px;
   @include breakpoint(medium) {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text{
      position: relative;
      color: #ffffff;
      font-family: $font-family;
      font-size: 42px;
      font-weight: 700;
      line-height: 53px;
      letter-spacing: 1.2px;
      padding-top:3px;
      @include breakpoint(medium) {
         font-size:70px;
         line-height: 80px;
      }
   }

   &__border{
      padding-left:30px;
      padding-right:30px;
   }

   &__banner{
     padding-left:10px;
     position: relative;
     text-align: center;
     padding-left:45px;
     text-align: left;
     display: flex;
     @include breakpoint(medium) {
      width: 70%;
      padding-right:55px;
   }
   @include breakpoint(large) {
      width: 100%;
      padding-right:430px;
      position: relative;
      bottom:10px;
   }


   }
   &__text::before{
      position: absolute;
      left:-60px;
      bottom:100px;
      content:url("~img/paddle-o.png");
      height:20px;
      width: 20px;
      letter-spacing: 2px;
      @include breakpoint(medium) {
         bottom:170px;
      }
      @include breakpoint(large) {
         bottom:87px;
      }
   
   
   }
}