.course {
   //col 1 sidebar
   padding-bottom: 30px;


   &__container {
      display: block;
      max-width: 1170px;

      @include breakpoint(medium) {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         margin-left: auto;
         margin-right: auto;
      }
      @include breakpoint(large) {
         margin-bottom:48px;
      }
   }

   &__border {
      padding-right: 30px;
      padding-left: 30px;
   }

   &__col-1 {
      @include breakpoint(medium) {
         width: 31%;
      }

      @include breakpoint(large) {
         width: 23.1%;
      }
   }

   &__sidebar {
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 37px;
      background-color: black;
      margin-top: -202px;
      margin-bottom: 11px;

      @include breakpoint(medium) {
         margin-top: -302px;
         padding-left: 38px;
      }
   }

   &__col-2 {
      @include breakpoint(medium) {
         width: 67%;
      }

      @include breakpoint(large) {
         width: 74.1%;
      }

   }

   &__sidebar-btn-box {
      margin-bottom: 12px;
      padding-bottom: 13px;
      border-bottom: 1px solid grey;
      line-height: 24px;
   }

   &__sidebar-btn {
      color: #acacac;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      padding-right: 30px;

      @include breakpoint(medium) {
         padding-right: 50px;
      }
   }

   &__sidebar-btn:hover::before {
      position: relative;
      bottom: 5px;
      content: url("~img/paddle.png");
      height: 20px;
      width: 20px;
      margin-right: 10px;
      z-index: 1;
      transition: 1s;
      color: white;
   }

   &__sidebar-btn:hover {
      color: white;
      transition: 2s;
   }

   &__sidebar-swich {
      padding-bottom: 50px;
   }

   &__sidebar-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8b600;
      margin-right: -35px;
      margin-left: -35px;
      transition: 1s;

      @include breakpoint(medium) {
         margin-left: -38px;
      }
   }

   &__sidebar-submit:hover{
      background-color: grey;
   }

   &__resrvation-btn {
      position: relative;
      color: white;
      text-transform: uppercase;
      font-family: $font-family;
      font-weight: 700;
      padding-top: 22px;
      padding-bottom: 19px;
      letter-spacing: 0.1px;
   }

   &__resrvation-btn::after {
      padding-top: 2px;
      right: -65px;
      content: url(~img/arrow-small.png);
      position: absolute;
      height: 100%;
      width: 50px;
   }

   //col 2 content
   // box-one

   &__box-1 {
      margin-bottom: 14px;
   }

   &__hours {
      @include breakpoint(medium) {
         display: flex;
         justify-content: space-between;

         @include breakpoint(large) {
            padding-top: 1px;
            margin-bottom: 11px;
         }
      }
   }

   &__hours-tile {
      display: flex;
      align-items: center;
      background-color: white;
      margin-bottom: 10px;
      padding-bottom: 17px;
      padding-top: 19px;

      @include breakpoint(medium) {
         flex-wrap: wrap;
         justify-content: center;
         background-color: white;
         width: 31%;
         margin-top: 35px;
         padding-top: 25px;
      }

      @include breakpoint(large) {
         padding-top: 20px;
      }
   }

   &__hours-number {
      color: #3a3a3a;
      width: 35%;
      font-family: $font-family;
      font-size: 36px;
      font-weight: 700;
      margin-left: 29px;
      margin-right: 20px;
      padding-top: 1px;

      @include breakpoint(medium) {
         margin-left: 0px;
         margin-right: 0px;
         width: 100%;
         display: flex;
         justify-content: center;
         font-size: 49px;
      }

      @include breakpoint(large) {
         font-size: 58px;
         font-weight: 1000;
         margin-bottom: 8px;
         letter-spacing: 1.9px;
      }
   }

   &__hours-description {
      width: 70%;
      color: #000000;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;

      @include breakpoint(medium) {
         display: flex;
         justify-content: center;
         align-items: baseline;
         text-align: center;
         padding-bottom: 12px;
         font-size: 18px;
      }

      @include breakpoint(large) {
         letter-spacing: 0.71px;
      }

      &--bottom {
         @include breakpoint(medium) {
            position: relative;
            bottom: 14px;
         }
      }
   }

   // box-two
   &__banner {
      padding-top: 17px;
      padding-bottom: 20px;
      background-color: #eaeaea;
      padding-left: 22px;
      margin-bottom: 14px;

      @include breakpoint(medium) {
         padding-top: 32px;
         padding-left: 32px;
         margin-bottom: 30px;
      }

      @include breakpoint(large) {
         padding-top: 17px;
         padding-left: 0px;
         background-color: transparent;
         padding-right: 60px;
         margin-bottom: 7px;
      }
   }

   &__banner-text {
      color: #000000;
      font-family: $font-family;
      font-size: 18px;
      font-weight: 500;
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
      margin-bottom: 8px;

      @include breakpoint(medium) {
         padding-right: 52px;
         font-size: 35px;
         line-height: 40px;
         letter-spacing: 1px;
         margin-bottom: 10px;
      }

      @include breakpoint(large) {
         letter-spacing: 0.1px;
         font-size: 48px;
         line-height: 53px;
         padding-right: 90px;
         line-height: 1.15;
         font-weight: 800;
      }

      span {
         color: #d8b600;
      }
   }

   &__banner-subtitle {
      font-family: $font-family;
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 23px;

      @include breakpoint(medium) {
         padding-right: 102px;
         padding-bottom: 6px;
      }

      @include breakpoint(large) {
         padding-top: 10px;
         font-size: 22px;
      }
   }

   // box-three about
   &__about {
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 18px;
      padding-bottom: 24px;
      margin-bottom: 15px;

      @include breakpoint(medium) {
         padding-top: 28px;
         padding-left: 40px;
         padding-right: 40px;
         margin-bottom: 20px;
         padding-bottom: 37px;
      }

      @include breakpoint(large) {
         background-color: transparent;
         padding-left: 0px;
         padding-right: 0px;
         padding-top: 0px;
         margin-bottom: 5px;
         padding-bottom: 26px;
      }
   }

   &__about-title {
      color: #686868;
      font-family: $font-family;
      font-size: 18px;
      padding-bottom: 9px;
      font-weight: 500;
      line-height: 35.92px;
      text-transform: uppercase;
      border-bottom: 2px solid rgb(216, 216, 216);
      margin-bottom: 15px;

      @include breakpoint(medium) {
         margin-bottom: 22px;
      }
   }

   &__about-subtitle {
      color: #000000;
      font-family: $font-family;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 20px;

      @include breakpoint(medium) {
         line-height: 1.5;
         letter-spacing: 0.6px;
      }
   }

   &__about-info {
      border: 1px solid rgb(236, 225, 225);

      @include breakpoint(medium) {
         display: flex;
         flex-wrap: wrap;
      }
   }

   &__about-discription {
      background-color: white;
      padding-left: 20px;
      padding-top: 16px;
      padding-bottom: 14px;
      color: #000000;
      font-family: $font-family;
      font-size: 14px;
      line-height: 18px;
      border-bottom: 1px solid grey;

      @include breakpoint(medium) {
         width: 70%;
         padding-right: 50px;
      }

      @include breakpoint(large) {
         background-color: transparent;
         width: 84%;
         letter-spacing: 0.6px;
         padding-top: 21px;
      }

      &--grey {
         background-color: #dcdcdc;

         @include breakpoint(medium) {
            width: 30%;
         }

         @include breakpoint(large) {
            background-color: transparent;
            padding-left: 0px;
            width: 16%;
            padding-top: 21px;
            padding-right: 0px;
         }

      }

      &--bold {
         font-weight: 700;
      }
   }


   // btn-show more

   &__show-more {
      margin-bottom: 15px;

      @include breakpoint(medium) {
         margin-bottom: 23px;
      }

      @include breakpoint(large) {
         margin-bottom: 31px;
      }
   }

   &__show-more-box:hover{
      background-color:#d8b600;
      color:black;
      transition: 1s;
   }

   &__show-more-box {
      display: flex;
      justify-content: center;
      background-color: black;

      @include breakpoint(medium) {
         width: 29.6%;
      }

      @include breakpoint(large) {
         width: 21%;
      }
   }

   &__show-more-btn {
      color: white;
      font-family: $font-family;
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      line-height: 36px;
      text-transform: uppercase;
      padding-top: 8px;
      padding-bottom: 7px;
   }

   // cost-box

   &__cost {
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 25px;
      margin-bottom: 20px;

      @include breakpoint(medium) {
         padding-top: 12px;
         padding-left: 36px;
         padding-right: 36px;
         padding-bottom: 37px;
      }

      @include breakpoint(large) {
         width: 48%;
         padding-left: 37px;
         padding-right: 22px;
         margin-bottom: 0px;
         padding-top: 10px;
         padding-bottom: 25px;
      }
   }

   &__cost-title {
      color: #000000;
      border-bottom: 2px solid rgb(204, 195, 195);
      padding-top: 13px;
      padding-bottom: 8px;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 15px;

      @include breakpoint(medium) {
         font-size: 30px;
      }

      @include breakpoint(large) {
         margin-bottom: 18px;
      }
   }

   &__cost-box {
      border-bottom: 1px solid rgb(204, 195, 195);
      padding-bottom: 8px;
      padding-top: 2px;
      margin-bottom: 14px;
      padding-right: 70px;

      @include breakpoint(medium) {
         padding-top: 4px;
      }

      @include breakpoint(large) {
         margin-bottom: 10px;
      }

   }

   &__cost-discription {
      font-family: $font-family;
      font-size: 15px;
      font-weight: 700;
      line-height: 21px;
      margin-bottom: 4px;
      letter-spacing: 0.3px;

      @include breakpoint(medium) {
         font-size: 16px;

         @include breakpoint(large) {
            margin-bottom: 0px;
         }
      }

   }

   &__cost-price {
      color: #434343;
      font-family: $font-family;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.3px;

      @include breakpoint(medium) {
         font-size: 24px;
      }
   }

   &__cost-box-info {
      font-size: 14px;
      padding-top: 10px;
      color: #353535;
      font-family: $font-family;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.1px;
      margin-bottom: 20px;

      @include breakpoint(medium) {
         padding-top: 0px;
         font-size: 16px;
      }

      @include breakpoint(large) {
         padding-top: 14px;
         padding-right: 20px;
      }
   }

   &__cost-contact-title {
      font-family: $font-family;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      line-height: 18px;
      margin-bottom: 2px;

      @include breakpoint(medium) {
         padding-top: 3px;
         margin-bottom: 5px;
      }

   }

   &__cost-contact-data {
      font-size: 14px;
      font-family: $font-family;
      font-weight: 400;

      span {
         color: orange;
      }

      @include breakpoint(medium) {
         line-height: 1.4;
      }
   }

   // term-box
   &__term {
      background-color: white;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 1px;
      padding-bottom: 22px;

      @include breakpoint(medium) {
         padding-left: 37px;
         padding-right: 37px;
      }

      @include breakpoint(large) {
         width: 48%;
         padding-left: 35px;
         padding-right: 37px;
         padding-top: 10px;
         padding-bottom: 10px;
      }
   }

   &__term-title {
      color: #000000;
      border-bottom: 2px solid rgb(204, 195, 195);
      padding-top: 13px;
      padding-bottom: 8px;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 10px;

      @include breakpoint(medium) {
         font-size: 31px;
         padding-top: 21px;
      }

      @include breakpoint(large) {
         color: #000000;
         border-bottom: 2px solid rgb(204, 195, 195);
         padding-top: 13px;
         padding-bottom: 8px;
         font-family: $font-family;
         font-weight: 700;
         line-height: 36px;
         margin-bottom: 20px;
      }
   }

   &__term-box {
      padding-bottom: 12px;
      border-bottom: 1px solid rgb(204, 195, 195);
      margin-bottom: 5px;

      @include breakpoint(medium) {
         display: flex;
      }
   }

   &__term-name {
      display: flex;
      align-self: flex-start;
      color: #d8b600;
      font-family: $font-family;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 4px;

      @include breakpoint(medium) {
         margin-right: 30px;
         padding-top: 5px;
      }
   }

   &__term-date {
      letter-spacing: 1px;

      @include breakpoint(medium) {
         margin-right: 30px;
         padding-top: 7px;
         font-size: 14px;
      }
   }

   &__term-btn-box {
      display: flex;
      justify-content: center;
      background-color: #d8b600;
      margin-top: 19px;
   }

   &__term-btn {
      position: relative;
      color: white;
      padding-top: 12px;
      padding-bottom: 12px;
      font-family: $font-family;
      font-size: 14px;
      padding-right: 23px;
      letter-spacing: 0.1px;
   }

   &__mob {
      @include breakpoint(large) {
         display: none;
      }
   }

   &__term-desk {
      display: none;

      @include breakpoint(large) {
         display: flex;
         flex-wrap: wrap;
      }

      span {
         font-size: 25px;
         margin-right: 4px;
         font-weight: 700;
      }
   }

   &__term-desk-term {
      font-size: 18px;
      font-family: $font-family;
      border-bottom: 1px solid grey;
      margin-bottom: 20px;
      padding-top: 1px;
      padding-bottom:3px;
      padding-left:3px;
      width: 100%;
   }

   &__sale {
      color: green;
      font-size: 15px;
      display: none;

      @include breakpoint(large) {
         display: flex;
         font-style: italic;
         font-family: $font-family;
         font-size: 14px;
      }
   }

   &__term-btn::after {
      padding-top: 2px;
      right: -37px;
      content: url(~img/pdf.png);
      position: absolute;
      height: 100%;
      width: 50px;
   }

   &__block {
      @include breakpoint(large) {
         display: flex;
         justify-content: space-between;
      }
   }


}