.footer{
   padding-top:29px;
   background-color:#252525;

   @include breakpoint(medium) {
      padding-top:0px;
}
   &__box-title{
      color: white;
      font-family:$font-family;
      font-size: 16px;
      font-weight: 500;
      line-height: 38px;
      text-transform: uppercase;
   }

   &__box-title::before{
      position: relative;
      bottom:4px;
      padding-bottom: 5px;
      content:url("~img/paddle-end.png");
      height:50px;
      width: 50px;
      margin-right: 10px;

   }
   &__nav-text{
      color: #9b9b9b;
      font-family:$font-family;
      font-size: 16px;
      font-weight: 500;
      line-height: 38px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.001px;
   }
   &__box-one{
      margin-bottom: 21px;
      @include breakpoint(medium) {
         padding-top:73px;
         width:34%;
         padding-bottom: 40px;
      
      }
   }

   &__box-two{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      padding-top: 5px;
      margin-bottom: 12px;
      @include breakpoint(medium) {
         padding-top:83px;
         padding-bottom: 52px;
         width:60%;
         padding-left:9px;
      }
      @include breakpoint( xxxlarge) {
         padding-left:50px;
      }
   }
   &__contact-tilte{
      color: #ffffff;
      font-family:$font-family;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 0.09px;
      margin-bottom: 8px;
   }
   &__contact-name{
      color: #ffffff;
      font-family:$font-family;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 0.09px;
   }
   &__contact-tel{
      color: #bcbcbc;
      font-family: $font-family;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.09px;
      line-height: 17px;
      margin-bottom: 17px;

      span{
         color:orange;
      }
   }

   &__contact-media{
      display: flex;
      color:white;
     

      a{
         color:white;
         font-size: 13px;
         font-weight: 600;
         font-family: $font-family;
      }
   }
   &__med{
      margin-right: 7px;
      margin-left: 20px;
   }

   &__bottom-text{
      color: #505052;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.01px;

      span{
         color:white;
         font-weight: 400;
      }
   }
   &__col-2{
      position: relative;
      background-color:black;
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-top:19px;
      @include breakpoint(medium) {
         width:60%;
         padding-left:53px;
         padding-top:41px;
      }
      @include breakpoint( xxxlarge) {
         width:51.5%;
         padding-left:80px;
      }
   }

   &__col-1{
      padding-bottom: 30px;
      @include breakpoint(medium) {
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      @include breakpoint( xxxlarge) {
         margin-left:325px;
      }
   }

   &__instagram-lightbox{
      max-width: 369px;
      padding-right:30px;
      @include breakpoint(medium) {
         max-width: 369px;
         padding-right:0px;
   }
   @include breakpoint( xxxlarge) {
         max-width: 499px;
         padding-right:0px;
   }
}

   &__instagram-title{
      color: #ffffff;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom:18px;
   }
   &__instagram-row1{
      display: flex;
      justify-content: space-between;
      height:77px;
      width:100%;
      margin-bottom: 16px;
      @include breakpoint(medium) {
         height:110px;
         margin-bottom: 22px;
   }
   }

   &__instagram-row2{
      display: flex;
      justify-content: space-between;
      height:77px;
      width:100%;
      margin-bottom: 29px;
      @include breakpoint(medium) {
         height:110px;
         margin-bottom: 45px;
   }
   }

   &__img{
    height:100%;
    width: 30%;
    background-color:grey;
    @include breakpoint( xxxlarge) {
      width: 22%;
    }
   }

   &__instagram-btn{
      display: flex;
      padding-left:38px;
      justify-content: flex-start;
      position: relative;
      background-color: white;
      width:100%;
      line-height:74px;
      color: #0e0e0f;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: $font-family;
      letter-spacing: 0.01px;
      
   }


   &__instagram-btn::before{
      position: relative;
      bottom:4px;
      padding-bottom: 5px;
      content:url("~img/paddle-g.png");
      width: 50px;
      margin-right: 22px;
   }

   &__img-x{
   display:none;
   @include breakpoint( xxxlarge) {
      display: block;
   }
   }

   &__tile{
      @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
   }

   &__box-three{
      background-color:orange;
   }

}}

 

   
