.header {
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    width: 100%;
    height: 75px;
    background-color: orange;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
    }

    &__title {
        display: none;

        @media (min-width:768px) {
            display: flex;
            color: white;
            height: 100%;
            font-weight: 400;
            font-family: $font-family;
            text-transform: uppercase;
            padding-left: 14px;
        }
    }

    &__logo {
        background-image: url(~img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 2px;
        width: 120px;
        height: 75px;

    }

    &__logo-box {
        display: flex;
        align-items: center;
    }

    &__col-1 {
        display: flex;
        background-color: black;
        width: 50%;
        padding-left: 30px;

        @media (min-width:768px) {
            justify-content: space-between;
            align-items: center;
            width: 90%;

        }
    }

    &__col-2 {
        width: 50%;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        height: 100%;

        @media (min-width:768px) {
            width: 170px;
            padding-left: 30px;
        }
    }

    &__burger {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__icon-box {
        display: none;
        background-color: black;

        @media (min-width:1440px) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    &__icon-1 {
        background-image: url(~img/insta.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 2px;
        width: 30px;
        margin-right: 12px;
        height: 100%;
    }

    &__icon-2 {
        background-image: url(~img/fb.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 2px;
        width: 30px;
        margin-right: 5px;
        height: 100%;
    }

    &__icon-3 {
        background-image: url(~img/homebook.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 2px;
        margin-right: 27px;
        width: 30px;
        height: 100%;
    }

    &__burger-icon {
        background-image: url(~img/burger.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 2px;
        width: 30px;
        height: 100%;

        @media (min-width:768px) {
            width: 50px;
        }
    }

    &__burger-text {
        padding-right: 30px;
        margin-left: 21px;
        text-transform: uppercase;

        @media (min-width:768px) {
            margin-left: 12px;
        }

    }
}