.hero {
    height: 525px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 75px;
    background-color: black;

    @include breakpoint(medium) {
        height: 600px;
    }

    @include breakpoint(large) {
        height: 873px;
    }

    &__border {
        padding-left: 33px;
        padding-right: 33px;
    }

    &__container {
        max-width: 1720px;
        margin-right: auto;
        margin-left: auto;
    }

    &__title {
        color: white;
        font-size: 39px;
        font-weight: 500;
        font-family: $font-family;
        margin-bottom: 100px;
        letter-spacing: 0.005px;

        @media (min-width:768px) {
            padding-left: 50px;
            margin-bottom: 90px;
        }

        @include breakpoint(large) {
            padding-left: 57px;
        }


        h1 {
            line-height: 47px;
            margin-bottom: 2px;

            @media (min-width:768px) {
                font-size: 64px;
                margin-bottom: 1px;
                line-height: 1.2;
            }

            @include breakpoint(large) {
                font-size: 90px;
                margin-bottom: 0px;
            }
        }
    }

    &__subtitle {
        color: white;
        font-size: 17px;
        font-weight: 400;
        font-family: $font-family;
        letter-spacing: 1.1px;

        @media (min-width:768px) {
            font-size: 26px;
            padding-left: 10px;
        }

        @include breakpoint(large) {
            font-size: 38px;
            padding-left: 20px;
        }
    }

    &__subtitle::before {
        content: url(~img/short.png);
        position: relative;
        bottom: 3px;
        margin-right: 13px;
        left: 2px;

        @media (min-width:768px) {
            bottom: 7px;
            width: 10px;
        }
    }

    &__subititle-box {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    &__text {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height: 525px;
        padding-top: 163px;

        @media (min-width:768px) {
            padding-top: 153px;
            height: 596px;

            @include breakpoint(large) {
                height: 872px;
                padding-top: 290px;
            }
        }
    }

    &__arrows__tile {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        @media (min-width:768px) {}

        @include breakpoint(xlarge) {
            padding-right: 272px;
        }
    }

    &__arrows {
        display: flex;
        width: 100%;
        height: 50px;
        background-color: black;

        @media (min-width:768px) {
            width: 100px;
        }

        @include breakpoint(large) {
            height: 73px;
            width: 150px;
        }

    }

    &__arrow {
        background-image: url(~img/arrow-left.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        width: 50%;

        &:hover {
            background-color: lighten(#000000, 20%);
        }

        &--right {
            transform: rotate(180deg);
        }
    }
}

//slider

#slidehero {
    position: absolute;
    height: 525px;

    @include breakpoint(medium) {
        height: 600px;
    }

    @include breakpoint(large) {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 873px;
    }
}

.slider {
    width: 100%;
    height: 100%;
    background-color: black;
}

.background {
    height: 525px;

    @include breakpoint(medium) {
        height: 600px;
    }

    @include breakpoint(large) {
        background-position: center;
        width: 100%;
        height: 873px;
    }
}

.background-1 {
    height: 525px;
    background-image: url(~img/hero-main.jpg);

    @include breakpoint(medium) {
        height: 600px;
    }

    @include breakpoint(large) {
        background-position: center;
        width: 100%;
        height: 873px;
    }
}

.background-2 {
    background-image: url(~img/books.jpg);
    height: 525px;

    @include breakpoint(medium) {
        height: 600px;
    }

    @include breakpoint(large) {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 873px;
    }
}

.background-3 {
    background-image: url(~img/hero-1.jpg);
    height: 525px;

    @include breakpoint(medium) {
        height: 600px;
    }

    @include breakpoint(large) {
        background-position: left;
        width: 100%;
        height: 873px;
    }

}

.background::after {
    @include breakpoint(large) {
        content: "";
        width: 100%;
        height: 873px;
        background-color: black;
        position: absolute;
        z-index: 10;
        opacity: 0.17;
    }
}

.slick-dots {
    position: relative;
    bottom: 50px;

}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;

}

.slick-dots li.slick-active button::before {
    color: gold;
    opacity: 1;
}