.offert {
   padding-top: 24px;
   padding-bottom: 32px;
   background-color: #f6f6f6;

   @include breakpoint(medium) {
   padding-top:50px;
   padding-bottom: 13px;
   }

   @include breakpoint(large) {
      padding-top: 85px;
   }

   &__border {
      padding-left: 30px;
      padding-right: 30px;
   }

   &__box-two{
      margin-right:-30px;
      margin-left:-30px;
      @include breakpoint(large) {
      max-width: 1750px;
      margin-right:auto;
      margin-left:auto;
      }
   }

 

   &__title {
      text-transform: uppercase;
      font-family: $font-family;
      width: 86px;
      color: #000000;
      font-size: 24px;
      font-weight: 500;
      margin-right: 15px;
   }

   &__paddle {
      background-color: black;
      width: 90%;
      height: 2.5px;
      margin-bottom: 9px;
   }

   &__head {
      justify-content: space-between;
      align-items: flex-end;
      display: flex;
      margin-bottom: 22px;

      @include breakpoint(medium) {
         margin-bottom: 34px;
      }
   }

   &__box-one {
      margin-bottom: 14px;
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
   }

   &__arrows {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 50px;
      margin-bottom: 33px;
      padding-left: 30px;
      padding-right: 30px;

      @include breakpoint(medium) {
         width: 100%;
         justify-content: flex-end;
         margin-bottom: 0px;
      }
   }

   &__arrow-1 {
      background-image: url(~img/arrow-l.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      background-color: #bbbbbb;

      @include breakpoint(medium) {
         width: 50px;
      }
   }

   &__arrow-1:hover{
    background-color: grey;
   } 

   &__arrow-2 {
      background-image: url(~img/arrow-r.png);
      background-color: #d1d1d1;
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      z-index: 10;

      @include breakpoint(medium) {
         width: 50px;
      }
   }

   &__arrow-2:hover{
      background-color: grey;
   } 

   &__number {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-family: $font-family;
      color: #000000;
      font-size: 36px;
      font-weight: 700;
      border-bottom: 2px solid black;
      width: 45px;

      @include breakpoint(medium) {
         margin-bottom: 15px;
         
      }
   }

   &__title-article {
      font-family: $font-family;
      font-size: 34px;
      line-height: 42px;
      font-weight: 700;
      padding-top: 5px;

      @include breakpoint(medium) {
         color: black;
         font-size: 45px;
         line-height: 60px;
      }

      @include breakpoint(large) {
         color: #000000;
         font-size: 60px;
         font-weight: 700;
         line-height: 68px;
      }
   }

   &__header {
      font-family: $font-family;
      border-bottom: 2px solid grey;
      padding-bottom: 12px;
      margin-bottom: 21px;
      color: #686868;
      font-size: 18px;
      font-weight: 500;
      line-height: 35.95px;
      width: 100%;
      text-transform: uppercase;

      @include breakpoint(medium) {
         margin-bottom: 17px;
         padding-bottom: 23px;
      }
   }

   &__text-bold {
      margin-bottom: 10px;
   }

   &__btns-offert {
      @include breakpoint(medium) {
         display: flex;
         justify-content: space-between;
         justify-items: center;
         margin-bottom: 40px;
      }
   }

   &__btn-one {
      margin-bottom: 16px;

      @include breakpoint(medium) {
         width: 48%;
      }
   }

   &__box-three {
         max-width: 1170px;
         margin-right: auto;
         margin-left: auto;
      @include breakpoint(medium) {
         display: flex;
         justify-content: space-between;
      }
   }

   &__discription {
      @include breakpoint(medium) {
         width: 48%;
      }
   }

   &__offert {
      margin-bottom: 27px;

      @include breakpoint(medium) {
         width: 40%;
      }
   }
  
   &__icon{
      display: flex;
      justify-content: flex-start;
      align-self: center;
      background-repeat: no-repeat;
      background-position:center;
      background-color: white;
      padding:20px;
      @include breakpoint(medium) {
         padding:30px;
      }
      
      &--one{
         height:200px;
         width:100px;
         background-color:white;
         border:10px solid #f6f6f6;
         @include breakpoint(medium) {
            height:250px;
         }
      }
    
   }

   &__icon-text{
      color: #000000;
      font-family: $font-family;
      font-size: 40px;
      font-weight: 700;
      height:40%;
      width: 50px;
      margin-bottom: 20px;
      border-bottom:2px solid black;
      }

   &__icon-discription{
      color: #000000;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
   }
}

#offert{
   display:none;
   @include breakpoint(medium) {
      display:block;
      margin-left:auto;
      margin-right:auto;
   }
}

#slideoffert{
   width:100%;
   
}

