.partners{
   padding-top:19px;
   padding-bottom:10px;
   background-color: white;
   @include breakpoint(large) {
      padding-top:28px;
   }
   
   
   &__container{

      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
   }

   &__text{
      color: #686868;
      font-family: $font-family;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      text-transform: uppercase;
      margin-bottom: 31px;
      letter-spacing: 0.09px;
      @include breakpoint(large) {
         margin-bottom:20px;
      }
}

&__icons-box{
   display:flex;
   @include breakpoint(medium) {
      display:none;
   }
 
  }

&__icon{
   display: flex;
   justify-content: flex-start;
   align-self: center;
   background-repeat: no-repeat;
   background-position:center;
   margin-bottom: 27px;
   @include breakpoint(large) {
   background-position: left;   
   }
 
}

&__col-1{
   width:50%;
   padding-right:10px;
   @include breakpoint(medium) {
      width:60%;
      align-self: center;
      justify-content:center;
      display: flex;
      }
   @include breakpoint(large) {
      padding-left:0px;
   }   
}

&__col-2{
   width:50%;
   padding-left:6px;

   @include breakpoint(medium) {
      width:40%; 
      align-self: center;
      justify-content:center;
      display: flex;
      }
      @include breakpoint(large) {
         padding-left:0px;
      }   
}

&__icon--one{
   background-image: url(~img/icon-a.png);
   width: 100%;
   height:40px;
}

&__icon--two{
   background-image: url(~img/icon-b.png);
   width: 100%;
   height:40px;

}

&__icon--three{
   background-image: url(~img/icon-c.png);
   width: 100%;
   height:40px;
   @include breakpoint(medium) {
      display:none;
   }
   @include breakpoint(large) {
      display:block;
   }

}
&__icon--four{
   background-image: url(~img/icon-d.png);
   width: 100%;
   height:40px;
}
&__icon--five{
   background-image: url(~img/icon-e.png);
   width: 100%;
   height:40px;
   @include breakpoint(medium) {
      margin-right:30px;
   }
   
}
&__icon--six{
   background-image: url(~img/icon-f.png);
   width: 100%;
   height:40px;
   @include breakpoint(medium) {
      margin-right:30px;
   }

}
&__icon--seven{
   background-image: url(~img/icon-g.png);
   width: 100%;
   height:40px;
   @include breakpoint(medium) {
      display:none;
   }
   @include breakpoint(large) {
      display:block;
   }
}
}

#slideshow{
   display:none;

   @include breakpoint(medium) {
      display:block;
      margin-left:auto;
      margin-right:auto;
   }
}

