.project {
   padding-top: 20px;


   &__banner {
      width: 100%;
      height: 451px;
      @include breakpoint(medium) {
         height: 759px;
      }
   }

   &__border {
      padding-left: 30px;
      padding-right: 30px;
   }

   &__container {
      max-width: 1770px;
      margin-left: auto;
      margin-right: auto;
   }

   &__new-title {
      color: #ffffff;
      display: flex;
      justify-content: flex-end;
      font-family: $font-family;
      font-size: 17.4px;
      font-weight: 500;
      line-height: 36.09px;
      width: 100%;
      text-transform: uppercase;
      z-index: 2;
   }

   &__new {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      position: relative;
      bottom:430px;
      @include breakpoint(medium) {
         padding-top: 418px;
         padding-right: 45px;
         bottom:0px;
      }

      @include breakpoint(large) {
         padding-top: 203px;
         padding-right: 0px;
      }
   }

   &__new-paddle {
      width: 100px;
      height: 2px;
      background-color: white;
      z-index: 2;
   }

   &__arrows {
      display: flex;
      width: 100%;
      height: 50px;
      background-color: black;

      @include breakpoint(medium) {
         display: flex;
         flex-wrap: wrap;
         width: 16%;
         background-color: transparent;
      }
   }

   &__arrow-1 {
      width: 50%;
      height: 100%;
      background-color: white;
      background-image: url(~img/arrow-left-black.png);
      background-repeat: no-repeat;
      background-position: center;

      @include breakpoint(medium) {
         width: 75px;
         height: 75px;
      }
   }

   &__arrow-1:hover{
      background-color: #f4f4f4;
   }

   &__arrow-2:hover{
      background-color: #f4f4f4;
   }

   &__arrow-2 {
      width: 50%;
      height: 100%;
      background-color: white;
      background-image: url(~img/arrow-right-black.png);
      background-repeat: no-repeat;
      background-position: center;

      @include breakpoint(medium) {
         width: 75px;
         height: 75px;
      }
   }

   &__change-arrows-text {
      padding-top: 20px;
      padding-bottom: 16px;
      background-color: black;
      padding-right: 30px;
      padding-left: 30px;
      width: 100%;

      @include breakpoint(medium) {
         width: 100%;
         height: 150px;
         background-color: black;
      }

   }

   &__show {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
   }

   &__show-title {
      color: white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;

   }

   &__title {
      color: #ffffff;
      font-family: $font-family;
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 500;

      @include breakpoint(medium) {
         color: #ffffff;
         font-size: 36px;
         font-weight: 500;
      }
   }

   &__show-paddle {
      width: 30px;
      height: 30px;
      background-image: url(~img/paddle.png);
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 5px;

      @include breakpoint(medium) {}
   }

   &__infobox {
      @include breakpoint(medium) {
         display: flex;
         position: absolute;
         right: 0;
         flex-direction: row-reverse;
         width: 56%;
         margin-top: -238px;
      }

      @include breakpoint(xxxlarge) {
         position: absolute;
         right: 0;
         margin-top: -448px;
         width: 28.5%;
      }
   }
}

#slideproject{
   height: 451px;
   @include breakpoint(medium) {
   display: block;
   position: absolute;
   top:0;
   width: 100%;
   height: 759px;
   background-color:black;
}
}  

.slider{
   width:100%;
   height: 100%;
   background-color: black;
}

.project__banner-1{
   height: 451px;
   width: 100%;
   background-image: url(~img/news-small.jpg);
   @include breakpoint(medium) {
   background-image: url(~img/projects-main.jpg);
   height: 759px;
   width: 100%;
   background-repeat: no-repeat;
   }
}

.project__banner-3{
   height: 451px;
   width: 100%;
   background-position: center;
   background-image:  url(~img/hero-1.jpg);
   @include breakpoint(medium) {
   height: 759px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   }
}

.project__banner-2{
   height: 451px;
   width: 100%;
   background-position: center;
   background-image: url(~img/books.jpg);
   @include breakpoint(medium) {
   background-image: url(~img/books.jpg);
   height: 759px;
   background-size: cover;
   background-position: center;
   width: 100%;
   }
}
