 .team {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
   @include breakpoint(medium) {
      padding-top: 5px;
      padding-bottom: 5px;
   }
   @include breakpoint(large) {
      padding-top: 100px;
      padding-bottom: 100px;
   }

    &__border {
       padding-right: 40px;
       padding-left: 40px;
    }

    &__container {
       max-width: 1170px;
       margin-left: auto;
       margin-right: auto;
    }

    &__header {
       margin-bottom: 54px;
    }

    &__box {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       @include breakpoint(medium) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
       }

       @include breakpoint(xmedium) {
          padding-left: 58px;
          padding-right: 39px;
       }
    }

    &__img {
       background-color: grey;
       width:100%;
       height: 270px;
       background-repeat: no-repeat;
       background-position: center;
       margin-bottom: 27px;
    }

    &__name {
       color: #000000;
       font-family: $font-family;
       font-size: 24px;
       font-weight: 700;
       margin-bottom: 15px;
    }

    &__about {
       color: #000000;
       font-size: 15px;
       font-weight: 400;
       line-height: 24px;
    }

    &__tile-one {
       margin-bottom: 50px;
       @include breakpoint(medium) {
          width: 48%;
          margin-bottom: 50px;
       }

       @include breakpoint(xmedium) {
          width: 25%;
          margin-bottom: 0px;
       }
    }

    &__tile-two {
      margin-bottom: 50px; 
       @include breakpoint(medium) {
          width: 48%;
       }
       @include breakpoint(xmedium) {
          width: 25.4%;
       }
    }

    &__tile-three {
       @include breakpoint(medium) {
          width: 48%;
       }
       @include breakpoint(xmedium) {
          width: 25.4%;
       }
    }
 }