.a-article-title {
    color: #000000;
    font-family: $font-family;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;

    @include breakpoint(medium) {
        font-size: 60px;
        font-weight: 500;
    }
}

.a-article-subtitle {
    font-size: 16px;
    font-family: $font-family;

    @include breakpoint(medium) {
        font-size: 18px;
    }
}

.a-text-bold {
    color: #000000;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

.a-text-normal {
    line-height: 1.5;
}

.a-btn {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    color: #000000;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.09px;
    transition: 1s;
}

.a-btn-2 {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    background-color: white;
    color: #000000;
    font-family: $font-family;
    font-size: 15.2px;
    font-weight: 700;
    line-height: 57px;
    text-transform: uppercase;
    letter-spacing: 0.01px;
    transition: 1s;

    @include breakpoint(medium) {
        line-height: 75px;
    }


    &--black {
        background-color: black;
        color: white;
        transition: 1s;
    }
}
.a-btn-2:hover {
    background-color: black;
    color: white; 
}

.a-btn-2--black:hover {
    color: black;
    background-color: white;
}
