@import 'grid';
@import '00-utils/all';
@import '01-base/all';
@import '02-atoms/all';
@import '03-molecules/all';
@import '04-organisms/all';
@import '05-templates/all';
@import '06-pages/all';


.border{
    padding-left:30px;
    padding-right:30px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body{
	background-color: #f6f6f6;
	font-family:$font-family;
}