html,
body {
  text-rendering: optimizeLegibility;
  
}
  
h1, h2, h3, h4, h5, h6, p, ul, dl, dd, dt {
  padding: 0;
  margin: 0;
  line-height: 1;
}
  
    
ul {
  list-style-type: none;
}
  
address {
  font-style: normal;
}
  
a {
  text-decoration: none;
}



.borders {
  padding-left: $padding-mobile;
  @include breakpoint(medium) {
    padding-left: $padding-tablet;
  }  
}


.has-overlay {
  position: relative;
    
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.45;    
  }  
}

